<h1>Current Sportz Users</h1>

<p> Users</p>

<a href="/users/new">Create A User</a>
{{#each users}}
    <a href="/users/{{_id}}">{{userName}}</a>
    <p>Favorite Sport: {{favoriteSport}}</p>
{{/each}}